apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: go-crypto-monitor
  namespace: default
  labels:
    release: monitoring-stack
spec:
  selector:
    matchLabels:
      app: my-app # <--- POPRAWKA: Musi pasować do labeli w Service (wyżej)
  endpoints:
  - port: http # Szuka portu o nazwie "http" w Service
    path: /metrics
    interval: 15s