name: Build and Push App to Docker Hub

# TODO: Update the following variables:
env:
  AWS_REGION: us-east-1
  AWS_IAM_ROLE: arn:aws:iam::438950223046:role/github-actions


on:
  push:
    branches:
    - main
    paths:
      - "app/**"
      - ".github/workflows/build.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5



    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Release new version
      id: release
      run: |
        chmod +x ./app/scripts/git_update.sh
        bash ./app/scripts/git_update.sh -v patch

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: "./app"
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}:${{ steps.release.outputs.new-tag }}